[packages]
flask = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-restful = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
